/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --main-color: #e52e80;
  --nav1-color: #65b2a6;
  --nav2-color: #c4e3de;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
.col-border {
  /* border: so lid 2px red; */
  position: relative;
  height: 30rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  background: url("https://source.unsplash.com/1600x900/?food,shops") no-repeat
    center center/cover;
}
.row-border {
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-content: center;
}
.active-pink-4 input[type="text"]:focus:not([readonly]) {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}
.active-pink-3 input[type="text"] {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}
html,
body,
.container-table {
  height: 100%;
}
.container-table {
  display: table;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}
html,
body {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
